[
# --------------------------------------------
# This part is (usually) changed by program...
# --------------------------------------------

  VirtualOrganisation = "@GRID_VO@";
  Executable          = "@EXECUTABLE@";
  Arguments           = "@CMD_ARGS@";
  InputSandbox        = {@INPUT_SANDBOX@};
  OutputSandbox       = {@OUTPUT_SANDBOX@};
  Environment         = {@ENVS@};

# (...but definitely do not change these two names)
  StdOutput = "STDOUT.FILE";
  StdError  = "STDERR.FILE";

# ----------------------------------------------------------------------------------
# From here, it is (usually) up to you...
#
# But you can still have here, for example:  MyProxyServer = "@grid.MyProxyServer@";
# and put its value into configuration as property 'grid.MyProxyServer'.
#
# ----------------------------------------------------------------------------------

  MyProxyServer = "myproxy.cnaf.infn.it";

  Rank = - other.GlueCEStateEstimatedResponseTime;

  Requirements = 
# --- host whitelist (certs ok)
 (( 
      RegExp( "^ce001.imbm.bas.bg:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^tbn20.nikhef.nl:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^testbed001.grid.ici.ro:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ce02.tier2.hep.manchester.ac.uk:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^heplnx206.pp.rl.ac.uk:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^i101.hpc2n.umu.se:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ce.ui.savba.sk:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ce02.lip.pt:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^melon.ngpp.ngp.org.sg:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ce1.egee.fr.cgg.com:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^lcgce0.shef.ac.uk:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^grim-ce.iucc.ac.il:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^mallarme.cnb.uam.es:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^lcg02.ciemat.es:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^gridit-ce-001.cnaf.infn.it:2119",      other.GlueCEUniqueID)
#shallow  ||  RegExp( "^egee-ce01.pdc.kth.se:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^grid4.bccs.uib.no:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^clrlcgce01.in2p3.fr:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^node001.grid.auth.gr:2119",      other.GlueCEUniqueID)
#shallow  ||  RegExp( "^ce00.hep.ph.ic.ac.uk:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^lcfgng.cs.tau.ac.il:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ce02.marie.hellasgrid.gr:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^zeus02.cyf-kr.edu.pl:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^t2-ce-01.to.infn.it:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^prod-ce-02.pd.infn.it:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^g03n02.pdc.kth.se:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^clrlcgce03.in2p3.fr:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ce01.isabella.grnet.gr:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^iut15auvergridce01.univ-bpclermont.fr:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ds-lcg-ce01.cs.technion.ac.il:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^t2ce02.physics.ox.ac.uk:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^grid001.ts.infn.it:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^kalkan2.ulakbim.gov.tr:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^gridce.ilc.cnr.it:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ce01.athena.hellasgrid.gr:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^cox02.grid.metu.edu.tr:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^lcg-ce.its.uiowa.edu:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^svr016.gla.scotgrid.ac.uk:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^epgce1.ph.bham.ac.uk:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ce01.grid.acad.bg:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ce02.grid.acad.bg:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^egee-ce1.gup.uni-linz.ac.at:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^dgc-grid-44.brunel.ac.uk:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ce101.grid.ucy.ac.cy:2119",      other.GlueCEUniqueID)
#shallow  ||  RegExp( "^gridgate.cs.tcd.ie:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ce002.ipp.acad.bg:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ce001.grid.uni-sofia.bg:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^cclcgceli02.in2p3.fr:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ce01.marie.hellasgrid.gr:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^grid01.erciyes.edu.tr:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^lcgce.psn.ru:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^dwarf.wcss.wroc.pl:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^clrlcgce02.in2p3.fr:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^cox01.grid.metu.edu.tr:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ce.egee.wcss.wroc.pl:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ce07.pic.es:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ce1-egee.srce.hr:2119",      other.GlueCEUniqueID)
#shallow  ||  RegExp( "^lcg-compute.hpc.unimelb.edu.au:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^cluster.pnpi.nw.ru:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^glite-ce01.ariagni.hellasgrid.gr:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^node07.datagrid.cea.fr:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ce2.egee.cesga.es:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^g03n04.pdc.kth.se:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^node16.datagrid.cea.fr:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^grid01.cu.edu.tr:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^grid-ce.lns.infn.it:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^mars-ce2.mars.lesc.doc.ic.ac.uk:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ce01.tier2.hep.manchester.ac.uk:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^egeece01.ifca.es:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^fal-pygrid-18.lancs.ac.uk:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^CE.pakgrid.org.pk:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^gridce.roma3.infn.it:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^grid002.jet.efda.org:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ce-lcg.sdg.ac.cn:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^lcgce01.gridpp.rl.ac.uk:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^egee.irb.hr:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^prod-ce-01.pd.infn.it:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^grid003.roma2.infn.it:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^obsauvergridce01.univ-bpclermont.fr:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^spacin-ce1.dma.unina.it:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^paugrid1.pamukkale.edu.tr:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^gridba2.ba.infn.it:2119",      other.GlueCEUniqueID)
#shallow  ||  RegExp( "^ce.hep.ntua.gr:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^pamelace01.na.infn.it:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ce.keldysh.ru:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^lcg002.ihep.ac.cn:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ce001.ipp.acad.bg:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^grid10.lal.in2p3.fr:2119",      other.GlueCEUniqueID)
#shallow  ||  RegExp( "^lcg06.sinp.msu.ru:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ce01.afroditi.hellasgrid.gr:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ce02.esc.qmul.ac.uk:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^griditce01.na.infn.it:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^quanta.grid.sinica.edu.tw:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^mu6.matrix.sara.nl:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^marseillece01.mrs.grid.cnrs.fr:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^grid001.ics.forth.gr:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ce1.pp.rhul.ac.uk:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^fornax-ce.itwm.fhg.de:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^grid012.ct.infn.it:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ce01.ariagni.hellasgrid.gr:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ce.epcc.ed.ac.uk:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^scaicl0.scai.fraunhofer.de:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^lcg02.sinp.msu.ru:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^egee-ce.grid.niif.hu:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^glite-ce-01.cnaf.infn.it:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^grid01.cslab.openu.ac.il:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ce1-egee.fesb.hr:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^epgce2.ph.bham.ac.uk:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ramses.dsic.upv.es:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^polgrid1.in2p3.fr:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^grid0.fe.infn.it:2119",      other.GlueCEUniqueID)
#shallow  ||  RegExp( "^gw39.hep.ph.ic.ac.uk:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ce01.kallisto.hellasgrid.gr:2119",      other.GlueCEUniqueID)
#shallow  ||  RegExp( "^serv03.hep.phy.cam.ac.uk:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^lcgce01.jinr.ru:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ce06.pic.es:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^dgc-grid-40.brunel.ac.uk:2119",      other.GlueCEUniqueID)
  ||  RegExp( "^ce02.athena.hellasgrid.gr:2119",      other.GlueCEUniqueID)
#shallow  ||  RegExp( "^lcg00125.grid.sinica.edu.tw:2119",      other.GlueCEUniqueID)
#shallow  ||  RegExp( "^gw-2.ccc.ucl.ac.uk:2119",      other.GlueCEUniqueID)

)) && 
# --- acceptable processors
   (   RegExp( "^PIII$",      other.GlueHostProcessorModel)
   ||  RegExp( "^PIV$",       other.GlueHostProcessorModel) 
   ||  RegExp( "^P4$",	      other.GlueHostProcessorModel)
   ||  RegExp( "^athlon$",    other.GlueHostProcessorModel) 
   ||  RegExp( "pentium",     other.GlueHostProcessorModel) 
   )
   ;

]
# ( ! RegExp("64", other.GlueHostProcessorModel) );
